@model DFleet_CRUD.Models.Dominio.Abastecimento

<h3>Você realmente deseja deletar?</h3>
<div>
    <h4>Abastecimento</h4>
    <hr />
    <dl class="row col-10">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frentista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frentista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CombustivelUtilizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CombustivelUtilizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeLitros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeLitros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLitro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLitro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAbastecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAbastecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletouTanque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletouTanque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estabelecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estabelecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAbastecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAbastecimento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AbastecimentoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
